div.tooltip {
  position: absolute;
  width: 50px;
  height: 30px;
  line-height: 20px;
  padding: 5px 0;
  font-size: 14px;
  text-align: center;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0;
  cursor: pointer;
}

div.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent;
  top: 44px;
  left: 15px;
}

.tooltip_image {
  max-height: 20px;
  max-width: 40px !important;
}