.infoWindow {
  &_img {
    height: 32px;
  }
  &_name{
    font-weight: bold;
  }
  &_address{

  }
  &_table{
    width: 100%;
    th{
      text-align: left;
    }
    tr:nth-child(even) {
      background-color: #ededed;
    }
    tr:nth-child(odd) {
      background-color: #fff;
    }
  }
}