.shoplist {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background: #e4e4e4;

    &:hover {
      background: #cecece;
      cursor: pointer;
    }
  }
}